<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>this is the home page</h1>

    <h3><%= 1+2 %></h3>
    <h3><%= "dhanesh jain" .toUpperCase() %></h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis distinctio asperiores sed veniam consectetur, quaerat consequuntur nostrum perspiciatis nobis, recusandae voluptate officia labore aut odit eos? Dolore maxime vel expedita.</p>
    
    <button>click me!</button>
</body>
</html>